html,
body {
  height: 100%;
}
h2 {
  font-size: 16px;
  font-weight: 700;
}
.region-sidebar-second ul {
  list-style: none outside none;
  padding: 0px;
}
#minorndako-questionlist-create-form .even .form-type-checkbox,
#minorndako-questionlist-create-form .odd .form-type-checkbox,
#minorndako-enquete-create-form .even .form-type-checkbox,
#minorndako-enquete-create-form .odd .form-type-checkbox {
  margin-left: 20px;
}
.bootstrap-table {
  margin-bottom: 50px;
}
.form-type-date-popup label {
  float: left;
  clear: both;
}
.form-type-date-popup {
  max-width: 260px;
}
.form-type-date-popup .date-padding {
  padding: 0px;
}
.form-type-date-popup .date-padding label,
.form-type-date-popup .form-item .description {
  display: none;
}
.breadcrumb {
  padding: 8px 0px;
  margin-bottom: 0px;
}
/* ======== */
.question-icon {
  position: relative;
  width: 28px;
  height: 28px;
  float: right;
  border: 1px solid #333;
  margin-left: 5px;
  cursor: pointer;
}
.edit-icon {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
}
.rootheader {
  font-size: 20px;
}
.subrootheader {
  background-color: #eee;
  font-weight: 700;
}
aside.affix {
  left: 730px;
}
.edit-icon {
  background: url(../images/icons/edit.png) no-repeat center top;
}
.situ-icon {
  background: url(../images/icons/situation.jpg) no-repeat center top;
}
.antw-52 {
  background: url(../images/icons/yesno.jpg) no-repeat center top;
}
.antw-51 {
  background: url(../images/icons/scale.jpg) no-repeat center top;
}
.antw-53 {
  background: url(../images/icons/open.jpg) no-repeat center top;
}
th.select-all {
  width: 15px;
}
.open-61 {
  background: url(../images/icons/always.jpg) no-repeat center top;
}
.open-62 {
  background: url(../images/icons/only.jpg) no-repeat center top;
}
.open-63 {
  background: url(../images/icons/once.jpg) no-repeat center top;
}
/* After collapse */
/* Tablet or bigger */
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
