html,
body {
  height: 100%;
}
body {
  background: url('../images/bgr/school.png');
}
.thumbnail {
  float: left;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
.dropdown-menu {
  z-index: 2000;
}
.main-container {
  padding-top: 55px;
  padding-bottom: 55px;
}
.header-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0px;
  background: none;
  position: absolute;
  top: 0px;
  width: 100%;
}
.header-wrapper button {
  float: left;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0px;
  background: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.footer button {
  float: right;
}
.vragen-dropdown .dropdown {
  cursor: pointer;
}
/* After collapse */
/* Tablet or bigger */
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
